<%- include('includes/head'); %>
<%- include('includes/navBar'); %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        
        <div class="col-lg-8 my-3">
            <h1 class="text-center">Contacts</h1>
            <p class="text-center lead">Your contacts are bellow</p>

            <%- include('includes/messages'); %>

            <div class="responsive-table">
                <table class="table my-3">
                    <tr>
                        <td>Tyler</td>
                        <td>McCartney</td>
                        <td>(99) 99999-9999</td>
                        <td>tiler@mccartney.com</td>
                    </tr>
                </table>
            </div>

        </div>
        
        <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer'); %>